[project]
	description = simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yishulman
[access "refs/for/refs/*"]
	read = group user/yishulman
	push = group user/yishulman
	label-Code-Review = -2..+2 group user/yishulman
	label-Verified = -1..+1 group user/yishulman
	rebase = group user/yishulman
	removeReviewer = group user/yishulman
	submit = group user/yishulman
[access "refs/heads/*"]
	read = group user/yishulman
	create = group user/yishulman
	push = +force group user/yishulman
	pushMerge = group user/yishulman
[access "refs/tags/*"]
	push = +force group user/yishulman
	pushTag = group user/yishulman
	pushSignedTag = group user/yishulman
